* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Palette */

:root {
    --wallpaper_high--: #009688;
    --notifications--: #8EDAFC;
    --wallpaper_low--: #D9DBD4;
    --primary--: #EAEAEA;

}

body {
    background-color: var(--wallpaper_low--);
}

.wallpaper {
    height: 100vh;
}

.wrapper {
    height: 680px;
}

.sidebar {
    height: 100%;
    width: 500px;
}

.sidebar_header {
    background-color: var(--primary--);
    height: 70px;
}

.sidebar_notifications {
    background-color: var(--notifications--);
    height: 70px;
}

.sidebar_search {
    background-color: var(--primary--);
    height: 50px;
}

.sidebar_menu {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
}

.chat {
    height: 100%;
    width: 100%;
    background-color: brown;
}

.chat_header {
    background-color: var(--primary--);
    height: 65px;
}

.chat_main {
    background-image: url('/assets/img/mine.jpg');
    height: 100%;
    overflow-y: scroll;
}

.chat_input {
    background-color: var(--primary--);
    height: 70px;
}