* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Palette */

:root {
    --wallpaper_high--: #009688;
    --notifications--: #8EDAFC;
    --wallpaper_low--: #D9DBD4;
    --primary--: #EAEAEA;

}

body {
    background-color: var(--wallpaper_low--);
}

.wallpaper {
    height: 100vh;
}

.wrapper {
    height: 680px;
}

.sidebar {
    height: 100%;
    width: 500px;
}

.sidebar_header {
    background-color: var(--primary--);
    height: 70px;
}

.sidebar_notifications {
    background-color: var(--notifications--);
    height: 70px;
}

.sidebar_search {
    background-color: var(--primary--);
    height: 50px;
}

.sidebar_search .search {
    height: 25px;
}

.sidebar_menu {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
}

.sidebar_menu .time_access {
    position: relative;
}

.sidebar_menu .time {
    position: absolute;
    bottom: 5px;
    left: 110px;
}

.chat {
    height: 100%;
    width: 100%;
    background-color: brown;
}

.chat_header {
    background-color: var(--primary--);
    height: 65px;
}

.font_min {
    font-size: 0.8rem;
}

.chat_header .font_name {
    font-size: 0.9rem;
}

.chat_main {
    background-image: url('/assets/img/mine.jpg');
    height: 100%;
    overflow-y: scroll;
}

.chat_input {
    background-color: var(--primary--);
    height: 70px;
}

.chat_input .input_message {
    height: 40px;
    width: 90%;
}